body{
    background-color: rgb(46, 46, 46);
}

.jumbotron {
    margin-top: 15px;
    border-radius: 30px;
    background-color: #f4f4f4;
}

.jumbotron .container h1{
    font-weight: 800;
}

.card{
    padding: 30px;
    border-radius: 20px;
}